.main-title{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 72px;
    text-align: center;
    color: #F1F3F8;
}

.sub-title{
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    color: #F1F3F8;
    margin: 0;
}

@media  screen and (max-width:500px) {
    .main-title{
        font-size: 35px;
    }

    .sub-title{
        font-size: 25px;
    }
    
}